body {
  margin: 0;
  background: #0f172a;
  color: white;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 30px;
}

.title {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 10px;
}

.subtitle {
  text-align: center;
  margin-bottom: 30px;
  color: #cbd5e1;
}

.card {
  background: #1e293b;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.card h3 {
  margin-top: 0;
  color: #38bdf8;
}

input {
  width: 95%;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

button {
  background: #38bdf8;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}